body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #111;
    background-image: url(https://media.wired.com/photos/644318b17b25a434b1f3bbd7/master/w_640,c_limit/security_hacker_names.jpg);
}

main#container {

}

h1.titulo {
background: -webkit-linear-gradient(120deg, hsl(318, 94%, 61%), hsl(239,69%,51%)); 
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

p.frase {
background: -webkit-linear-gradient(120deg, hsl(318, 94%, 61%), hsl(239, 69%, 51%));
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
justify-content: center;
align-items: center;
gap: 600px;
width: 100%;
height: 100px;
}

p.autor {
background: -webkit-linear-gradient(120deg, hsl(318, 94%, 61%), hsl(239, 69%, 51%));
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
